.idea/misc.xml
.idea/gradle.xml
.idea/compiler.xml
.idea/jarRepositories.xml
.idea/qaplug_profiles.xml
.idea/**
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
**/build
/captures
.externalNativeBuild
.cxx
.sdkmanrc
